*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches
/.idea/grandle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
android-videostreamdecodingsample